@import url('font/stylesheet.css');

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mariupol', sans-serif;
    padding: 20px;
    max-width: 810px;
    margin: auto;
}

.page-title {
    line-height: 1;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}

.content-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-block-start: 55px;
    margin-block-end: 50px;
}

.secondary-title {
    text-align: center;
    margin-bottom: 60px;
    color: #949494;
    font-size: 12px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.content-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000;
}

.content-image {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding-block-end: 30px;
}

.align-center {
    text-align: center;
}
